* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
body {
    max-width: 640px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
ul,li {
    list-style: none;
    display: block;
}

.bg1 {
    background: url(../images/bg/b1.png) repeat;
}
.bg2 {
    background: url(../images/bg/b2.png) repeat;
}
.bg3 {
    background: url(../images/bg/b3.png) repeat;
}
.bg4 {
    background: url(../images/bg/b4.png) repeat;
}
.bg5 {
    background: url(../images/bg/b5.png) repeat;
}
.bg6 {
    background: url(../images/bg/b6.png) repeat;
}
.bg7 {
    background: url(../images/bg/b7.png) repeat;
}
.bg8 {
    background: url(../images/bg/b8.png) repeat;
}
.bg9 {
    background: url(../images/bg/b9.png) repeat;
}
.bg10 {
    background: url(../images/bg/b10.png) repeat;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.clear {
    width: 0;
    height: 0;
    content: "";
    clear: both;
}
.hide {
    display: none;
}
.show {
    display: block;
}

